create database [ATM]
USE [ATM]
GO
/****** Object:  Table [dbo].[ACCOUNT_TRANSFER]    Script Date: 4/20/2020 9:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_TRANSFER](
	[TransferID] [nchar](5) NOT NULL,
	[ACCnoSource] [nchar](5) NULL,
	[ACCnoDestination] [nchar](5) NULL,
	[TransferTime] [datetime] NULL,
	[Amount] [int] NULL,
 CONSTRAINT [PK_ACCOUNT_TRANSFER] PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 4/20/2020 9:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[ACCno] [nchar](5) NOT NULL,
	[Cno] [nchar](5) NULL,
	[DateExpired] [date] NULL,
	[PIN] [nchar](10) NULL,
	[Balance] [int] NULL,
	[WorkingStatus] [bit] NULL,
 CONSTRAINT [PK_ACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[ACCno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 4/20/2020 9:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[Cno] [nchar](5) NOT NULL,
	[Cname] [nvarchar](50) NULL,
	[Caddress] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_CUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[Cno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANSACTIONS]    Script Date: 4/20/2020 9:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTIONS](
	[TranID] [nchar](5) NOT NULL,
	[ACCno] [nchar](5) NULL,
	[TranTime] [datetime] NULL,
	[WithDraw] [int] NULL,
 CONSTRAINT [PK_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[TranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ACCOUNT_TRANSFER] ([TransferID], [ACCnoSource], [ACCnoDestination], [TransferTime], [Amount]) VALUES (N'TF001', N'AC001', N'AC002', CAST(N'2020-04-05 13:31:43.757' AS DateTime), 500)
INSERT [dbo].[ACCOUNT_TRANSFER] ([TransferID], [ACCnoSource], [ACCnoDestination], [TransferTime], [Amount]) VALUES (N'TF002', N'AC004', N'AC002', CAST(N'2020-04-06 09:16:10.893' AS DateTime), 700)
INSERT [dbo].[ACCOUNT_TRANSFER] ([TransferID], [ACCnoSource], [ACCnoDestination], [TransferTime], [Amount]) VALUES (N'TF003', N'AC001', N'AC002', CAST(N'2020-04-06 10:21:27.030' AS DateTime), 1000)
INSERT [dbo].[ACCOUNTS] ([ACCno], [Cno], [DateExpired], [PIN], [Balance], [WorkingStatus]) VALUES (N'AC001', N'C0001', CAST(N'2020-12-31' AS Date), N'678909    ', 1200, 1)
INSERT [dbo].[ACCOUNTS] ([ACCno], [Cno], [DateExpired], [PIN], [Balance], [WorkingStatus]) VALUES (N'AC002', N'C0002', CAST(N'2021-10-15' AS Date), N'654321    ', 200, 1)
INSERT [dbo].[ACCOUNTS] ([ACCno], [Cno], [DateExpired], [PIN], [Balance], [WorkingStatus]) VALUES (N'AC003', N'C0003', CAST(N'2020-12-25' AS Date), N'123123    ', 800, 1)
INSERT [dbo].[CUSTOMERS] ([Cno], [Cname], [Caddress], [Email]) VALUES (N'C0001', N'Chuc', N'Danang', N'chuc@gmail.com')
INSERT [dbo].[CUSTOMERS] ([Cno], [Cname], [Caddress], [Email]) VALUES (N'C0002', N'Khoa', N'Hue', N'khoa@gmail.com')
INSERT [dbo].[CUSTOMERS] ([Cno], [Cname], [Caddress], [Email]) VALUES (N'C0003', N'Ha', N'Danang', N'ha@gmail.com')
INSERT [dbo].[TRANSACTIONS] ([TranID], [ACCno], [TranTime], [WithDraw]) VALUES (N'Tr001', N'AC001', CAST(N'2020-04-15 19:53:06.860' AS DateTime), 700)
INSERT [dbo].[TRANSACTIONS] ([TranID], [ACCno], [TranTime], [WithDraw]) VALUES (N'Tr002', N'AC002', CAST(N'2020-04-15 19:53:06.860' AS DateTime), 500)
INSERT [dbo].[TRANSACTIONS] ([TranID], [ACCno], [TranTime], [WithDraw]) VALUES (N'Tr003', N'AC003', CAST(N'2020-04-15 19:53:06.860' AS DateTime), 300)
